#body_accueil {
  background-image: url("../resources/bg-texture-00.svg");
  background-repeat: repeat;
  background-color: #333333;
}

h1 {
  color: red;
}

body {
  color: white;
}

.caption {
  background-color: white;
  color : #121212;
  text-align: center;
}

.caption h3 {
  text-decoration: underline;
}
